*{
    box-sizing: border-box; 
    margin: 0; /* все элементы сбросят свои значения по умолчччанию */
    padding: 0;
}

.promo {
    height: 800px;
    background: url('../img/head.jpg') center center/ /* по оси х и у по центру */ cover /* растягивание картинки */ no-repeat; /* картинка не повторялась? */
} 

.container {
    width: 1140px;
    margin: 0 auto; /* выровнять по центру, только к блочным элементам */
}

.logo .logo_head { /* наследование */
    display: block;
    margin: 0 auto;
}