* {
  box-sizing: border-box;
  margin: 0; /* все элементы сбросят свои значения по умолчччанию */
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

.promo {
  height: 800px;
  background: url("../img/head.jpg") center center/ /* по оси х и у по центру */
    cover /* растягивание картинки */ no-repeat; /* картинка не повторялась? */
  padding: 39px 0 62px 0;
}

.container {
  position: relative; /* чтоб картинку с женщиной, сделать абсолютной */
  width: 1140px;
  margin: 0 auto; /* выровнять по центру, только к блочным элементам */
}

.logo .logo_head {
  /* наследование */
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: white;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px; /* межстрочный интервал  */
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}

h1 {
  margin-top: 53px;
}

h2.title {
  margin-top: 30px;
}

.title {
  color: #f9bf3b;
  font-size: 41px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.simple .title_big {
  color: #ffffff;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
}

.promo .promo_text {
  padding: 0 13px;
  margin-top: 23px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.promo .promo_text span {
  color: #f9bf3b;
 font-weight: 700;
}

.promo .promo_btn {
  /* Записаться на интенсив! */
  display: block;
  margin: 0px auto;
  margin-top: 73px;
  width: 313px;
  height: 72px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);

  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  color: #ffffff;
  font-size: 21px;
  font-weight: 400px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.more_ {
  margin-top: 73px;
}

.more .more_text {
  /* узнать больше об интенсиве */
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
}

.more .more_img {
  display: block; /* картинка отдельным блоком */
  margin: 0 auto; /* ставим по центру */
  margin-top: 13px;
}

.waiting {
  min-height: 604px;
  background-color: #efefef;
  padding: 85px 0 75px;
}

.waiting .waiting_header, .finish .finish_header {
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.finish .finish_header {
  color: white;
}

.waiting .waiting_divider, .finish .finish_divider {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin: 0 auto;
  margin-top: 18px;
}

.waiting .waiting_subheader {
  /* 2 бесплатных полноценных обучающих вебинара, где: */
  margin-top: 17px;
  color: #4a4a4a;
  font-family: "Roboto";
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

.waiting .waiting_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
  width: 339px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_description {
  margin-top: 33px;
  /* Всего за два бесплатных вебинара мы научим вас, как создать сво */
  color: #4a4a4a;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.optimization {
  min-height: 550px;
  padding: 102px 0 107px 0;
}

.optimization .optimization_header {
  /* Что такое оптимизация и зачем она нужна? */
  margin-left: 391px;
  color: #299cbd;
  font-family: "Roboto - Black";
  font-size: 29px;
  font-weight: 400;
  text-transform: uppercase;
}

.optimization .optimization_text {
  /* На просторах интернета несчетное количество действующих и даже  */
  margin-top: 25px;
  margin-left: 391px;
  color: #4a4a4a;
  font-size: 29px;
  font-weight: 300;
  font-family: "Roboto light";
  font-weight: 300;
}

.optimization .optimization_text span {
  font-family: "Roboto - Bold";
  font-weight: 700;
}

.optimization .optimization_img {
  position: absolute;
  top: -54px;
  left: -240px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 79px 0; 
  background: url('../img/second_bg.png') center /* по оси х */ center/cover no-repeat;/* по оси у/растягиваться на всю ширину */ no-repeat /* не нужно повторять */
}

.finish .finish_wrapper {
margin-top: 41px;
display: flex;
justify-content: space-between; /* выравнивание по оси */
}

.finish .finish_wrapper .finish_item {
width: 204px; /* ширина */
}

.finish .finish_wrapper .finish_item .finish_round {
  /* Круг */
  display: flex;
  justify-content: center; /* выровнить по центру (по главной оси)*/
  align-items: center; /* выровнить по центру (по поперечной оси)*/
  margin: 0 auto;
background: #B4E2FF;
width: 115px;
height: 115px;
border-radius: 100%; /* из квадрата - круг */
}

.finish .finish_wrapper .finish_item .finish_description {
margin-top: 25px;
text-align: center; /* тест по центру */
/* Создать свой сайт или блог */
color: #EFEFEF;
font-family: 'Roboto';
font-size: 17px;
font-weight: 300;
/* or 118% */
display: flex;
margin: 0 auto;
align-items: center;
text-align: center;
}